<div class="container">

  <h1>Listing Events</h1>

  <ol class="breadcrumb">
    <li class="active">
      Events
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <form>
          <legend>Search</legend>
          <div class="col-xs-4">
            <input type='text' class='form-control' value='<%= params[:keyword]%>' name='keyword' placeholder='keyword' >
          </div>
        </form>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

        <%= render @events %>

      </ul>
    </div>
  </div>

  <br>

  <%= link_to 'New Event', new_event_path %>

</div>