<%# Rails flash messages styled for Bootstrap 3.0 %>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 column">
			<% flash.each do |name, msg| %>
			  <% if msg.is_a?(String) %>
			    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
			      <a class="close" data-dismiss="alert">&#215;</a>
			      <%= content_tag :div, msg, :id => "flash_#{name}" %>
			    </div>
			  <% end %>
			<% end %>
		</div>
	</div>
</div>